.rolecall-card {}

.rolecall-card .img-heading {
    height: 200px;
    background-size: cover;
    background: no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.rolecall-card .panel-body p {
    margin: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.rolecall-card .panel-heading a{
    display: block;
}

.rolecall-card .panel-heading .container-title{
    display: table;
    width: 100%;
    height: 50px;
}
.rolecall-card .panel-heading .container-title h5 {
    display: table-cell;
    vertical-align: middle;
}

.rolecall-card .panel-heading .container-title .bg-secondary{
    background-color: #fff;
    color: #25af61;
    border-color: #fff;
    margin-top: 15px;
}