.searchBar {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

@media (max-width: 768px) {
    .input-search-bar > .form-control, .input-search-bar >.input-group-btn>.btn{
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
    }
}
